  <div class='container'>
    <h1>Books</h1>
    <table class="table table-striped">
      <tr>
        <td>Image Url</td>
        <td>Book Name</td>
        <td>Author</td>
        <td>Book Description</td>
      </tr>
      <tr ng-repeat='individualData in MC.data.data'>
        <td><img src={{individualData.imageUrl}} alt="book image"></td>
        <td ng-click='MC.bookDetails()'><a href='/{{individualData.id}}'>{{individualData.bookName}}</a></td>
        <td>{{individualData.author}}</td>
        <td>{{individualData.bookDescription}}</td>
        <td><input class="btn btn-default" type='button' value='Edit'></td>
        <td><input class="btn btn-default" type='button' value='Delete'></td>
      </tr>
    </table>
  </div>
