<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <p>
    <%= text %>
  </p>
  <!-- <p>
    <%= img %>
  </p> -->


  <script src='index.js'></script>
  <script src='app.js'></script>
  <script src='users.js'></script>
</body>

</html>
