<form action='/users/signup' method='POST' class=''>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" placeholder="username" name='username' value='{{data.username}}'>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" placeholder="Password" name='password' value='{{data.password}}'>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" class="form-control" placeholder="Confirm Password" name='confirmPassword' value=''>
  </div>
  <input type="submit" class="btn btn-default" name='' value='Submit'></input>
</form>
