<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <style type="text/css">
      .has-error {
        border: 1px solid red;
      }
      .has-success {
        border: 1px solid green;
      }
    </style>

  </head>
  <body ng-app='app' ng-controller='FormController as VC'>
    <div class='container'>
      <form name='userForm' novalidate>
        <div class="form-group" ng-class="{ 'has-error': userForm.username.$invalid && userForm.username.$dirty, 'has-success': userForm.username.$valid && userForm.username.$dirty}">
          <label class="control-label">Username</label>
          <input type="text"
          class="form-control"
          name='username'
          ng-model='VC.username'
          ng-minlength='3'
          ng-maxlength='10'
          required>
          <div class='help-block' ng-messages="userForm.username.$error" style="color:maroon" role="alert" ng-show="userForm.username.$touched">
            <div ng-message="required">You did not enter a field</div>
            <div ng-message="minlength">Your field is too short</div>
            <div ng-message="maxlength">Your field is too long</div>
          </div>
          <!-- <p ng-show="userForm.username.$error.minlength">Username is too short.</p> -->
          <!-- <p ng-show="userForm.username.$error.maxlength">Username is too long.</p> -->
          <!-- <p ng-show="userForm.username.$error.required && userForm.username.$dirty.required">Your username is required.</p> -->
        </div>
        <div class="form-group" ng-class="{ 'has-error': userForm.password.$invalid && userForm.password.$dirty, 'has-success': userForm.password.$valid && userForm.password.$dirty}">
          <label class="control-label">Password</label>
          <input type="text"
          class="form-control"
          name='password'
          ng-model='VC.password'
          ng-minlength='3'
          ng-maxlength='10'
          required>
          <div class='help-block' ng-messages="userForm.password.$error" style="color:maroon" role="alert" ng-show="userForm.password.$touched">
            <div ng-message="required">You did not enter a field</div>
            <div ng-message="minlength">Your field is too short</div>
            <div ng-message="maxlength">Your field is too long</div>
          </div>
          <!-- <p ng-show="userForm.password.$error.minlength">password is too short.</p>
          <p ng-show="userForm.password.$error.maxlength">password is too long.</p>
          <p ng-show="userForm.password.$error.required  && userForm.username.$dirty.required">Your password is required.</p> -->
        </div>
        <div class="form-group" ng-class="{'has-error': userForm.email.$invalid && userForm.email.$dirty, 'has-success': userForm.email.$valid && userForm.email.$dirty}">
          <label class="control-label">Email</label>
          <input type="email"
          class="form-control"
          name='email'
          ng-model='VC.email'
          required>
          <div class='help-block' ng-messages="userForm.email.$error" style="color:maroon" role="alert" ng-show="userForm.email.$touched">
            <div ng-message="required">You did not enter a field</div>
            <div ng-message="type">You did not enter a valid email</div>
          </div>
          <!-- <p ng-show='userForm.email.$error.required && userForm.email.$dirty.required'>Your email is required</p> -->
        </div>
        <div class="form-group" ng-class="{ 'has-error': userForm.zipCode.$invalid && userForm.zipCode.$dirty, 'has-success': userForm.zipCode.$valid && userForm.zipCode.$dirty}">
          <label class="control-label">Zip Code</label>
          <input type="number"
          class="form-control"
          name='zipCode'
          ng-model='zipCode'
          ng-minlength='5'
          ng-maxlength='5'
          required>
          <div class='help-block' ng-messages="userForm.zipCode.$error" style="color:maroon" role="alert" ng-show="userForm.zipCode.$touched">
            <div ng-message="required">You did not enter a field</div>
            <div ng-message="minlength">Your field is too short</div>
            <div ng-message="maxlength">Your field is too long</div>
          </div>
          <!-- <p ng-show='userForm.zipCode.$error.minlength'>zip code is too short</p>
          <p ng-show='userForm.zipCode.$error.maxlength'>zip code is too long</p>
          <p ng-show="userForm.zipCode.$error.required && userForm.zipCode.$dirty.required">Your zipcode is required.</p> -->
        </div>
        <div class='form-group'>
          <input type="button" ng-disabled='!userForm.$valid' value='Submit' class="btn btn-primary" ng-click='VC.displayUsers()'>
        </div>
        <ul>
          <li ng-repeat="userDetails in VC.users">
            username: {{ userDetails.username }}
            password: {{ userDetails.password }}
            email: {{ userDetails.email }}
            zip code: {{ userDetails.zipCode }}
          </li>
        </ul>
  </form>


</div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <script src='app.js'></script>
    <script src='formController.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
