<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>

  </head>
  <body>
    <header>
    	<div class="container row">
    		
    			<h1><%= title %></h1>
    		
    			<nav>
    				<ul>
    					<li><a href="/auth/signin">signin</a></li>
    					<li><a href="/users/signup">register</a></li>
    				</ul>
    			</nav>
    		</div>
    	</div>
    </header>
