<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <a href="/">Home</a>
  <a href="http://www.youtube.com">YouTube</a>
  <p>
    <%= text %>
  </p>
  <img src=<%=img %> alt="">

  <a href = <%= link %> >Next > ></a>

</body>

</html>
