<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <h2><%= subTitle %></h2>
    <p><%= body %>

    </p>


    <form action="/" method="post">
      <textarea name="textarea" rows="10" cols="50"></textarea>
      <input type="submit">
    </form>


  </body>

</html>
