<!DOCTYPE html>
<html ng-app="mouseOverDirectiveApp">
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js" type="text/javascript"></script>
  <script src="app.js" type="text/javascript"></script>
</head>
<body>

  <div gs-change-background style="background-color: red">Hello World!</div>
  <input type='button' value='purple' ng-click='changeClass()'>
  <input type='button' value='green' ng-click='changeClass()'>
  <input type='button' value='blue' ng-click='changeClass()'>


</body>
</html>
