<!DOCTYPE html>
<html ng-app>
  <head>
    <title></title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
  </head>
<style>
.incorrectLength {
  color: red;
}
.correctLength {
  color:green;
}
img {
  height: 50px;
  width: 50px;
}
.onSale {
  color:red;
}
ul {
  list-style:none;
}
</style>


  <body>
    <h1>Hello World</h1>

    <select ng-model='greeting'>
      <option>Hello</option>
      <option>Greetings</option>
      <option>Salutations</option>
      <option>Live Long and Prosper</option>
    </select>

    <label>Name:</label>
    <input type='text' ng-model='firstName' placeholder='Enter a first name here'>
    <input type='text' ng-model='lastName' placeholder='Enter a last name here'>
    <h2>
      {{ greeting }} {{ firstName }} {{ lastName}}!
    </h2>
    <h2>{{ newGreeting }}</h2>
    <h2>{{ newGreeting }} {{ newFullName }}</h2>


    <button ng-click="newGreeting = greeting" ng-init="greeting='Greetings'">Submit</button>
    <button ng-click="newFullName = firstName + ' ' + lastName" ng-init="greeting='Greetings'">Submit</button>

<div>
    {{3.14159265359}}
    {{3.14159265359 | currency: "€"}}
</div>

<div>
  <input type='text' ng-model='text' placeholder='Enter text here'>
  {{ text | lowercase}}
  {{ text | uppercase}}
</div>

<div>
  <h2>How many digits of pi do you want?</h2>
  <select ng-model='decimal'>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
  </select>
  {{ 3.14159265359 | number : decimal}}
  <h2 ng-pluralize count="decimal" when="{'1': 'The first digit of pi.', 'other': 'The first {{decimal}} digits of pi.'}">
  The first {{decimal}} digits of pi</h2 ng-pluralize>
</div>

<div>
<h2>Tip Calculator</h2>
<label>How much did your meal cost:</label>
<input type='text' ng-model='mealCost' placeholder='Enter meal cost'>
<label>How much do you want to tip?</label>
<select ng-model='tip'>
  <option value='.10'>10</option>
  <option value='.15'>15</option>
  <option value='.20'>20</option>
  <option value='.25'>25</option>
</select>
<h3>Subtotal: {{ mealCost | currency}}</h3>
<h3>Tip: {{ ( mealCost * tip ) | currency}}</h3>
</div>

<div>
  <h2>Form</h2>
  <label>Name:</label>
  <input type='text' ng-model='name' placeholder='name'>
  <label>Adjective:</label>
  <input type='text' ng-model='adjective' placeholder='adjective'>
  <label>Plural Noun:</label>
  <input type='text' ng-model='pluralNoun1' placeholder='plural noun'>
  <label>Plural Noun:</label>
  <input type='text' ng-model='pluralNoun2' placeholder='plural noun'>
  <label>Insect Plural:</label>
  <input type='text' ng-model='insectPlural' placeholder='insect plural'>
  <label>Plural Noun:</label>
  <input type='text' ng-model='pluralNoun3' placeholder='plural noun'>
  <label>Verb ending in S:</label>
  <input type='text' ng-model='verbEndingS' placeholder='verb ending in S'>

  <button ng-click="checked=true">Generate</button>
    <div class="check-element animate-hide" ng-show="checked">
      <h3>name word {{name}}. adjective word {{adjective}}. plural noun one {{pluralNoun1}}.<br>
      plural noun two {{pluralNoun2}}. insect plural {{insectPlural}}. <br>
      plural noun 3 {{pluralNoun3}}. verb ending S {{verbEndingS}}.
      </h3>
    </div>
</div>

<div ng-init='names=["Gunther", "Finn", "Jake", "Poe", "Solo"]'>
  <ul>
    <li ng-repeat='name in names'>
      {{ name }}
    </li>
  </ul>
</div>


<div ng-init='symbols=["&spades;", "&clubs;", "&hearts;", "&diams;"]'>
  <ul>
    <li ng-repeat='symbol in symbols'>
      {{ symbol }}
    </li>
  </ul>
</div>

<div ng-init='numbers=[1,1,2,5,6,9,9,9]'>
  <ul>
    <li ng-repeat='number in [1,1,2,5,6,9,9,9] track by $index'>
      {{ number }}
    </li>
  </ul>
</div>

<div ng-init="animals = [
  {mammal:'dog'},
  {mammal:'cat'},
  {insect:'lady bug'}]">
    <ul>
      <li ng-repeat='animal in animals'>
        {{ animal.mammal }}
      </li>
    </ul>
</div>

<div>
  <h1>Sign up page</h1>
  <input type='text' ng-model='password' ng-minlength="0" required placeholder='password'>
  <h3 ng-class="{correctLength: password.length>=5}">Your password is {{ password.length }} characters</h3>
  <div>
      <h3 ng-show='password.length<5' ng-class="{incorrectLength: password.length<5}">password is invalid</h3>
      <button ng-show='password.length>=5'>Sign Up!</button>
  </div>
</div>

<div>
  <h1>Camera Shop</h1>
  <select ng-model='choice'>
    <option>rating</option>
    <option>price</option>
  </select>
  <div ng-init='cameras = [
    {
      title: "Nikon D3100 DSLR",
      image: "http://ecx.images-amazon.com/images/I/713u2gDQqML._SX522_.jpg",
      rating: 3.4,
      price: 369.99,
      onSale: true
    },
    {
      title: "Canon EOS 70D",
      image: "http://ecx.images-amazon.com/images/I/81U00AkAUWL._SX522_.jpg",
      rating: 2.0,
      price: 1099.0,
      onSale: false
    },
    {
      title: "Nikon D810A",
      image:"http://ecx.images-amazon.com/images/I/91wtXIfLl2L._SX522_.jpg",
      rating: 4.2,
      price: 3796.95,
      onSale: true
    }]'>
  </div>

    <ul>
      <li ng-repeat="camera in cameras | orderBy:choice">
        <ul>
          <li>
            <strong>Title:  {{ camera.title }}</strong>
          </li>
        </ul>
        <ul>
          <li>
            <img ng-src="{{ camera.image }}" alt="Description"/>
          </li>
        </ul>
        <ul>
          <li>
            Rating:  {{ camera.rating }}
          </li>
        </ul>
        <ul>
          <li ng-class="{onSale: camera.onSale==true}">
            Price:  {{ camera.price }}
          </li>
        </ul>
        <ul>
          <li ng-if="camera.onSale==true">
            On Sale!!
          </li>
        </ul>
      </li>
    </ul>

</div>






    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js'></script>
  </body>
</html>
