<div class='row'>
  <div class='container'>
    <form class="signinForm" action="/signin" method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" value="" class="form-control">
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input type="text" name="password" value="" class="form-control">
      </div>
      <input type="submit" name="" value="Sign In">
    </form>
  </div>
</div>
